* {
	margin: 0;
	padding: 0;
}
body {
	min-height: 100%;
}
a {
	text-decoration: none;
}
.headSite {
	background-color: #0D85F2;
	height: 80px;
	width: 100%;
	position: relative;
}
.logotype {
	font-family: font-arial;
	font-size: 3em;
	height: 40px;
	position: absolute;
	margin-right: 0;
	padding: 10px;
	width: 100px;
	float: left;
	color: #fff;

}
.mess, .red {
	font-size: 1.5em;
	padding-top: 27px;
	float: left;

}
.mess {
	margin-left: 200px;

}
.unrMessage {

	text-decoration: none;
	color: #fff;
}
.redaction {

	text-decoration: none;
	color: #fff;
}
.red {
	margin-left: 40px;

}
.unread {
	color: #E274DC;
}
.time {
	position: relative;
	float: right;
	width: 200px;

}
.realTime {
	margin-left: 120px;
	color: #fff;
	font-size: 1.1em;

}
.userTime {
	position: relative;
	margin-left: 120px;
	color: #fff;
}
.timeBox {
	margin-top: 15px;
}

.users {
	position: relative;
	float: left;
	background-color: #2C506D;
	width: 300px;
	height: calc(100vh - 80px);
	overflow: auto;
}
.usersList {
	padding-top: 20px;
}
.userName {
	color: #EFEBEB;
}
.away {
	color: #E68D1E;
}
.countUsersOnl {
	color: #43F91A;
}
.userName {
	margin-left: 20px;
	margin-bottom: 7px;
	font-size: 1.2em;
	width: 200px;
}
.countUsersOnl, .usersOnl{
	padding-top: 5px;
	padding-bottom: 15px;
	font-size: 1.2em;

}
.chatName {
	color: #EFEBEB;
	font-size: 1.2em;
	margin-top: 10px;
	margin-left: 20px;
	list-style-type: square;


}
.addChat {
	margin-top: 20px;
	margin-left: 0px;
}
.chatWindow {
	width: calc(100% - 300px);
	height: calc(100vh - 80px);
	position: relative;
	float: left;
}
.usersOnl {
	color: #1A1A1E;
	margin-left: 15px;
	font-weight: 700;
	font-size: 1.4em;
	display: inline-block;
	
} 
.NameChat {
	color: #1A1A1E;
	display: inline-block;
	margin-left: 3px;
	font-size: 1.4em;
	font-weight: 700;
}
.chatLine {
	width: 85%;
	margin-left: 7.5%
}
.headChatWindow {

}
.messageWindow {
	display: block;
	position: relative;
	width: 100%;
	height: calc(100% - 125px);
	float: left;
	overflow-y: auto;
	word-wrap: break-word;
}
.message {
	margin-bottom: 20px;
	margin-left: 30px; 
	margin-right: 20px;
}
.messTime {
	margin-left: 5px;
	font-style: italic;
	font-size: 0.9em;
}
.nameSender {
	font-weight: 900;
	font-size: 1.3em;
	color: #000;
}
.footChat {
	width: 100%;

}
.sendForm {
	position: relative;
	display: inline;
	
}
.inputText {
	border: 2px solid;
	border-radius: 5px;
	border-color: #3A3A55;
	width: calc(100% - 44px);
	height: 35px;
	margin-left: 18px;
	padding-left: 7px;
	font-size: 1.1em;
	outline: none;
}
.sendMessage {
	margin-left: 20px;
	border: 2px solid;
	border-radius: 3px;
	border-color: #3A3A55;
	outline: none;
	background-color: #fff;
	width: 90px;
	height: 25px;
	margin-top: 2px;
}
.big {
	font-weight: 700;
	margin-left: 30px;
	font-size: 1.1em;
}
.italic {
	font-style: italic;
	margin-left: 7px;
	font-size: 1.1em;
}
.underl {
	text-decoration: underline;
	margin-left: 7px;
	font-size: 1.1em;
}
.Formation {
	display: inline-block;
}
.Information {
	display: inline-block;
	margin-left: 20px; 
}
.describeInf {
	margin-right: 5px;
}